---
import {Picture} from 'astro:assets';
const posts = await Astro.glob('~/assets/images/landscape/*.jpg');
const images = [
    '~/assets/images/landscape/001A2158.jpg',
    '~/assets/images/landscape/001A2160.jpg',
    '~/assets/images/landscape/001A2172.jpg',
    '~/assets/images/landscape/001A2195.jpg',
    '~/assets/images/landscape/001A2268.jpg',
    '~/assets/images/landscape/001A2279.jpg',
    '~/assets/images/landscape/001A2387.jpg',
    '~/assets/images/landscape/001A2396.jpg',
    '~/assets/images/landscape/001A2523.jpg',
    '~/assets/images/landscape/001A2612.jpg'
];
// const urls = [

//     '~/assets/images/hor/001A2158.JPG'
//     ]

// const images = await Promise.all(urls.map(findImage));
---

<div class=''>
    <!-- <ul class='slider'>
        {posts.map(({default:{src}}) => (
            <li class='item' style={{backgroundImage: `url(${src})`}}></li>
        ))}
    </ul> -->
    photos
</div>

<script>
    // import {gsap} from 'gsap';
    // import {ScrollTrigger} from 'gsap/ScrollTrigger';
    // import Lenis from '@studio-freight/lenis';
    // gsap.registerPlugin(ScrollTrigger);
    // const lenis = new Lenis();

    // lenis.on('scroll', (e) => {
    //     console.log(e);
    // });

    // function raf(time) {
    //     lenis.raf(time);
    //     requestAnimationFrame(raf);
    // }

    // requestAnimationFrame(raf);
</script>

<style></style>
